<mat-sidenav-container class="app-container">
    <mat-sidenav #sidenav mode="push">
        <mat-action-list class="app-action-list">
            <button mat-list-item (click)="go(menuItem.route); sidenav.toggle()" *ngFor="let menuItem of menu">
                <mat-icon matListIcon>{{ menuItem.icon }}</mat-icon>
                {{ menuItem.name | translate }}
            </button>
        </mat-action-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar>
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <span>Angular 7 Sample</span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
